
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #EBE8E8;
}
/*----------------------color var---------------------*/

$primary-color: #111111;
$secondary-color:#49B139;
$btn-dark-color:#337128;
$font-stack: 'Roboto';

/*-------------------------------navigation----------------*/
.navigation{
    width: 100%;
    height: 8vh;
    padding: 0 2.4rem;
    background-color:$primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    font-family: $font-stack;
    .logo{
        color:$secondary-color;
        font-size: 15px;
        font-weight: 500;
    }
    .nav-item{
        display: none;
    }
    .fa-solid{
        color: white;
        font-size: 15px;
        padding:0 .8rem;

    }
    .fa-solid:hover{
        color: $secondary-color;
    }


}
/*---------------------hero----------------*/

.hero{
    color: white;
    padding: 7rem 2rem;
    background-color: $primary-color;
    font-family: $font-stack;

    P{
        font-size: 14px;
        font-weight: 300;
        margin-top: .5rem;
        line-height: 22px;
        margin-bottom: .6rem;
    }
    h1{
        font-size: 50px;
        font-weight: 700;
        span{
            color: $secondary-color;
        }
    }
    .hero-btn{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: left;        
        .btn1{
            color: white;
            font-size: 13px;
            font-weight: 400;
            background-color: $secondary-color;
            padding: 1.2rem 0;
            width: 11rem;
            text-align: center;
            border-radius: 4px;
            margin-right: 1rem;
        }
        .btn1:hover{
            background-color: $btn-dark-color;
        }
        .btn2{
            color: white;
            font-size: 14px;
            font-weight: 400;
            border: 2px solid $btn-dark-color;
            background-color: transparent;
            padding: 1.2rem 0;
            width: 9rem;
            text-align: center;
            border-radius: 4px;
        }
        .btn2:hover{
            background-color: $btn-dark-color;
        }
        
    }
   .scroll{
    display: none;
   }
}

/*-------------------------------Cards----------------*/

.about{
    margin-top: 5rem;
    padding: 0 3rem;
    font-family: $font-stack; 
    text-align: left;
    .about-txt{
        font-size: 14px;
        color: #2b2b2b; 
        line-height: 25px;
        font-weight: 400;
        span{
            color: $secondary-color;
            font-size: 15px;
            font-weight: 500;
        }
        h2{
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 1rem;
            color: $secondary-color;
        }
    }
    .about-img{
        margin-top: 2rem;
        img{
            width: 100%;
        }
    }
    
}

.cards-bg{
    margin-top: 5rem;
    padding: 3rem 2rem;
    font-family: $font-stack;
    background-color: $secondary-color;
    h1{
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2.5rem;
    }
    .card1{
        margin-bottom: 2rem;
        background-color: $primary-color;
        border-radius: 6px;
        width: 100%;
        min-height: 30vh;
        color: white;
        padding: 2.5rem 2rem;
        text-align: left;
        .icon{
            width: 70px;
            height: 65px;
            border-radius:5px;
            background-color: $secondary-color;
            text-align: center;
            padding: 1rem 1rem;

            .fa-solid{
                font-size: 24px;
            }
        }
    } 
    .card2{
        margin-bottom: 2rem;
        background-color: $primary-color;
        border-radius: 6px;
        width: 100%;
        min-height: 30vh;
        color: white;
        padding: 2.5rem 2rem;
        text-align: left;
        .icon{
            width: 70px;
            height: 65px;
            border-radius: 5px;
            background-color: $secondary-color;
            text-align: center;
            padding: 1rem 1rem;
            .fa-solid{
                font-size: 24px;
            }
        }
       
    }
    h2{
        margin: .7rem 0;
        font-size: 22px;
        font-weight: 500;
    }
    p{
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
    }
}
/*-------------------projects--------------------*/
.project-bg{
    padding: 4rem 1rem;
    font-family: $font-stack;
    text-align: center;
    h1{
        color: $secondary-color;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .p-cards{
        padding: 3rem .5rem;
        .cards{
            width: 100%;
            min-height: 58vh;
            background-color: white;
            border-radius: 7px;
            margin-bottom: 1rem;
            .img{
                padding: 2rem 1rem;
                img{
                    width: 100%;
                    min-height: 50px;
                }
            }
            .p-txt{
                padding: 0 2rem;
                margin-bottom: 4rem;
                h1{
                    text-transform: none;
                    margin-bottom: .7rem;
                    color: #2b2b2b;
                    font-size: 24px;
                    font-weight: 500;
                }
                p{
                    color: #2b2b2b;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 20px;
                }
            }
        }
    }
    .p-btn{
        color: white;
        background-color: $primary-color;
        padding: 1rem 2rem;
        font-size: 13px;
    }
}


/*-------------------------------Footer----------------*/
.footer-con{
    margin-top: 2rem;
    width: 100%;
    min-height: 30vh;
    background: $primary-color;
    padding: 2rem 2rem;
    color: white;
    text-align: center;
    font-family: $font-stack;
    
    h2{
        font-size: 24px;
        font-family: $font-stack;
        font-weight: 600;
    }
    .f-links{
        margin: 2rem 0;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        li{
            padding: .5rem 0;
        }
        a{
            color: white;
            font-size: 15px;
            font-weight: 500;
            padding: 0 .5rem;
            .fa-brands, .fa-solid{
                color: white;
                margin-right: .5rem;
                font-size: 24px;
            }
        }
       h1{
        padding-top: 2rem;
            color: $secondary-color;
            font-size: 13px;
            font-weight: 500;
       }
    }

    p{
        padding-top: 1rem;
        border-top: 1px solid $secondary-color;
        text-align:center;
        font-size: 11px;
        font-family: 'Roboto';
        font-weight: 500;
    }
}



/*----------------------------------------for large screens--------------------------------*/

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1){
    /*----------------------color var---------------------*/

    $primary-color: #111111;
    $secondary-color:#49B139;
    $btn-dark-color:#337128;
    $font-stack: 'Roboto';

/*-------------------------------navigation----------------*/
    .navigation{
        width: 100%;
        height: 9vh;
        padding: 0 5rem;
        background-color:$primary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        overflow: hidden;
        top: 0;
        font-family: $font-stack;
        .logo{
            color:$secondary-color;
            font-size: 17px;
            font-weight: 600;
        }
        .nav-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
                padding: 0 1.5rem;
            }
            a{
                color: $secondary-color;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
            }
            a:hover{
                font-size: 16px;
                transition: 2ms;
                text-decoration: 4px solid underline;
            }
        }
        .menu{
            display: none;
        }
        
    }
    /*---------------------hero----------------*/
    .hero{
        color: white;
        padding: 12rem 6rem;
        background-color: $primary-color;
        font-family: $font-stack;

        P{
            font-size: 20px;
            font-weight: 300;
            margin-top: .5rem;
            line-height: 30px;
            margin-bottom: .6rem;
        }
        h1{
            font-size: 98px;
            font-weight: 700;
            span{
                color: $secondary-color;
            }
        }
        h1:hover{
            font-size: 100px;
            transition: 20ms ease-out;
        }
        .hero-btn{
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: left;        
            .btn1{
                color: white;
                font-size: 13px;
                font-weight: 400;
                background-color: $secondary-color;
                padding: 1.2rem 0;
                width: 15rem;
                text-align: center;
                border-radius: 4px;
                margin-right: 1rem;
            }
            .btn1:hover{
                background-color: $btn-dark-color;
            }
            .btn2{
                color: white;
                font-size: 14px;
                font-weight: 400;
                border: 3px solid $btn-dark-color;
                background-color: transparent;
                padding: 1.2rem 0;
                width: 12rem;
                text-align: center;
                border-radius: 4px;
            }
            .btn2:hover{
                background-color: $btn-dark-color;
            }
            
        }
        .scroll{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            a{
                font-size: 38px;
                font-weight: 300;
                color: $btn-dark-color;
            }
        }
    
    }

    /*-------------------------------Cards----------------*/

    .about{
        margin-top: .5rem;
        padding: 4rem 6rem;
        font-family: $font-stack; 
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .about-txt{
            font-size: 21px;
            color:#2b2b2b;  
            line-height: 34px;
            font-weight: 300;
            span{
                font-size: 24px;
            }
            h2{
                font-size: 45px;
                font-weight: 600;
                margin-bottom: 1.8rem;
                color: $secondary-color;
            }
        }
        .about-img{
            img{
                width: 100%;
            }
        }
        
    }

    .cards-bg{
        margin-top: 1rem;
        padding: 4rem 8rem;
        font-family: $font-stack;
        background-color: $secondary-color;
        h1{
            color: white;
            text-align: center;
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 3rem;
        }
        .cards{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5rem;
        }
        .card1{
            margin-bottom: 2rem;
            background-color: $primary-color;
            border-radius: 15px;
            width: 40%;
            min-height: 45vh;
            color: white;
            padding: 3rem 3rem;
            text-align: left;
            .icon{
                width: 70px;
                height: 65px;
                border-radius:5px;
                background-color: $secondary-color;
                text-align: center;
                padding: 1rem 1rem;

                .fa-solid{
                    font-size: 25px;
                }
            }
        } 
        .card2{
            margin-bottom: 2rem;
            background-color: $primary-color;
            border-radius: 15px;
            width: 40%;
            min-height: 45vh;
            color: white;
            padding: 3rem 3rem;
            text-align: left;
            .icon{
                width: 70px;
                height: 65px;
                border-radius: 5px;
                background-color: $secondary-color;
                text-align: center;
                padding: 1rem 1rem;
                .fa-solid{
                    font-size: 25px;
                }
            }
        
        }
        h2{
            margin: .7rem 0;
            font-size: 30px;
            font-weight: 500;
        }
        p{
            font-size: 15px;
            font-weight: 300;
            line-height: 20px;
        }
    }

    /*-------------------projects--------------------*/
    .project-bg{
        padding: 6rem 6rem;
        font-family: $font-stack;
        text-align: center;
        h1{
            color: $secondary-color;
            font-size: 40px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .p-cards{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 4rem;
            padding: 3rem 0;
            .cards{
                width: 110%;
                min-height: 60vh;
                border-radius: 10px;
                background-color: white;
                margin-bottom: 1rem;
                .img{
                    padding: 0 1.5rem;
                    padding-top: 2rem;
                    img{
                        width: 100%;
                        min-height: 50px;
                    }
                }
                .p-txt{
                    padding: 2.5rem 2.5rem;
                    h1{
                        text-transform: none;
                        margin-bottom: .7rem;
                        color: #2b2b2b;
                        font-size: 29px;
                        font-weight: 500;
                    }
                    p{
                        color: #2b2b2b;
                        font-size: 17px;
                        font-weight: 300;
                        line-height: 22px;
                    }
                }
            }
        }
        .p-btn{
            color: white;
            background-color: $primary-color;
            padding: 1rem 3rem;
            font-size: 15px;
        }
    }


    /*-------------------------------Footer----------------*/
    .footer-con{
        margin-top: 2rem;
        width: 100%;
        min-height: 30vh;
        background: $primary-color;
        padding: 2rem 2rem;
        color: white;
        text-align: center;
        font-family: $font-stack;
        
        h2{
            font-size: 45px;
            font-family: $font-stack;
            font-weight: 600;
        }
        .f-links{
            margin: 2rem 0;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            li{
                margin-right: 2rem;
                padding: .5rem 0;
                .fa-brands, .fa-solid{
                    color: white;
                    margin-right: .5rem;
                    font-size: 40px;
                }
                
            }
            .fa-brands:hover{
                color: $secondary-color;
            }
            .fa-solid:hover{
                color: $secondary-color;
            }
            h1{
                padding-top: 2rem;
                color: $btn-dark-color;
                font-size: 17px;
                font-weight: 500;
            }
        }

        p{
            padding-top: 1rem;
            border-top: 1px solid $secondary-color;
            text-align:center;
            font-size: 13px;
            font-family: 'Roboto';
            font-weight: 500;
        }
    }

}
